
.container, .container-md, .container-sm {
    max-width: 720px;
  
    margin-left: 20%;
    margin-right: 20%;
  }
  .Register{
    margin-top: 10px;
  }
  .Register form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #979497;
    
  }
  .btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    border: none;
    
  }
  button{
    padding: 7px;
    border-radius: 5px;
  }
  input{
    padding: 7px;
  }
