@font-face {
    font-family: 'IranSance';
    src: url('../Fonts/Iranian\ Sans.ttf') format('ttf'),
    url('../Fonts/Iranian\ Sans.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Byekan';
    src: url('../Fonts/Yekan.ttf') format('ttf'),
    url('../Fonts/Yekan.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Vazir';
    src: url('../Fonts/Vazir-Bold.ttf') format('ttf'),
    url('../Fonts/Vazir-Bold.ttf') format('truetype');
  }
  ::before,
  ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }

:root{
    --color-gray:#dddddd;
    --color-grayLite:#E3F2C1;
    --color-Black:#000;
    --color-font:#545360;
}

*{
font-family: Vazir;
direction: rtl;
padding: 0%;
margin: 0%;
background-color: var(--color-grayLite);

}
h4{
  color: var(--color-font);

}

.FormShop{

  box-shadow: rgba(var(--color-font),0,0.0.5);
  width: 800px;
  height: 100%;
  background-color: var(--color-gray);
  
}
.Summary{
  background-color: var(--color-grayLite);
  
}
.Cart{
  background-color: #ffffff;
}
select{
  box-sizing: border-box;
  width: 100%;
}